################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/IsmaelApp.UI/bin/Debug/net5.0
/IsmaelApp.UI/obj/Debug/net5.0
